html,body{
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
}
.bgImg{
    position: fixed;
    top: 40%;
    right: 10%;
    width: 6rem;
    height: 30%;
    border: 1px salmon solid;
}
.bgImg_scroll_t {
    content: "";
    position: relative;
    top: 2rem;
    width: 2rem;
    height: 5%;
    border: 4px rgb(114, 114, 114) solid; 
    border-radius: 30%;
    transform: rotate( -46deg ) translate( -5% , 135% );
}
.bgImg_scroll_t::after {
    content: "";
    position: absolute;
    top: -10%;
    width: 100%;
    height: 100%;
    border: 4px rgb(114, 114, 114) solid; 
    border-radius: 30%;
    transform: rotate( 95deg ) translate( 30% , -185% );
}
.bgImg_scroll_m{
    content: "";
    position: relative;
    top: 4.8rem;
    left: 0.5rem;
    width: 3rem;
    height: 4.5rem;
    border: 6px rgb(114, 114, 114) solid; 
    border-radius: 45%;  
}
.bgImg_scroll_m::after{
    content: "";
    position: absolute;
    top: 20%;
    left: 42%;
    width: 5%;
    height: 20%;
    background-color: rgb(114, 114, 114);
    border: 4px rgb(114, 114, 114) solid; 
    border-radius: 40%;  
}
.bgImg_scroll_b {
    content: "";
    position: relative;
    top: 6rem;

    width: 2rem;
    height: 5%;
    border: 4px rgb(114, 114, 114) solid; 
    border-radius: 30%;
    transform: rotate( 44deg ) translate( 52% , 132% );
}
.bgImg_scroll_b::after {
    content: "";
    position: absolute;
    top: -10%;
    width: 100%;
    height: 100%;
    border: 4px rgb(114, 114, 114) solid; 
    border-radius: 30%;
    transform: rotate( -90deg ) translate( 50% , 150% );
}
.bg {
    width: 100%;
    height: 100%;
    background-color: aliceblue;
    position: relative;
}

.bg_macbook {
    background: transparent url("https://i.ibb.co/PYr4rTt/ipd1.png") no-repeat center center;
    width: 640px;
    height: 90%;
    top: 5%;
    left: 30%;
    position: absolute;
    border: 1px solid red;
	background-size: contain;
}
.screen {
    position: absolute;
    top: 10.5%;
    left:  62px;
    width: 515px;
    height: 678px;
    border: 1px saddlebrown solid;
    overflow-y: scroll;
}
.wrap {
    width: 100%;
    height: auto;
    background-color: sandybrown;
}
@media all and (max-width:1680px) {
    .screen {
        top: 8%;
        left:  80px;
        width: 480px;
        height: 638px;
    }
}
@media all and (max-width:1480px) {
    .bg_macbook {
        left: 28%;
    }
    
}
@media all and (max-width:1080px) {
    .bg_macbook {
        left: 18%;
    }
    
}
@media all and (max-width:980px) {
    .bg_macbook {
        left: 10%;
    }
    
}
@media all and (max-width:680px) {
    html,body{
    overflow: hidden;
    }
    .bg_macbook {
        width: 100%;
        height: 100%;
        top: 7%;
        left: 0%;
    }
    .screen {
        top: 5%;
        left: 0%;
        width: 99%;
        height: 90%;
    }

    
}