html,body{
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
}
.bgImg{
    position: fixed;
    top: 40%;
    right: 0;
    width: 10%;
    height: 30%;
    border: 1px salmon solid;
}
.bgImg_scroll_t {
    content: "";
    position: relative;
    top: 4rem;
    left: 53%;
    width: 18%;
    height: 5%;
    border: 4px rgb(114, 114, 114) solid; 
    border-radius: 30%;
    transform: rotate( 225deg ) translate( 52% , 132% );
}
.bgImg_scroll_t::after {
    content: "";
    position: absolute;
    top: -10%;
    width: 100%;
    height: 100%;
    border: 4px rgb(114, 114, 114) solid; 
    border-radius: 30%;
    transform: rotate( -90deg ) translate( 50% , 150% );
}
.bgImg_scroll_m{
    content: "";
    position: relative;
    top: 6rem;
    left: 35%;
    width: 32%;
    height: 4.5rem;
    border: 6px rgb(114, 114, 114) solid; 
    border-radius: 45%;  
}
.bgImg_scroll_m::after{
    content: "";
    position: absolute;
    top: 20%;
    left: 42%;
    width: 5%;
    height: 20%;
    background-color: rgb(114, 114, 114);
    border: 4px rgb(114, 114, 114) solid; 
    border-radius: 40%;  
}
.bgImg_scroll_b {
    content: "";
    position: relative;
    top: 8rem;
    left: 33%;
    width: 18%;
    height: 5%;
    border: 4px rgb(114, 114, 114) solid; 
    border-radius: 30%;
    transform: rotate( 45deg ) translate( 52% , 132% );
}
.bgImg_scroll_b::after {
    content: "";
    position: absolute;
    top: -10%;
    width: 100%;
    height: 100%;
    border: 4px rgb(114, 114, 114) solid; 
    border-radius: 30%;
    transform: rotate( -90deg ) translate( 50% , 150% );
}
.bg {
    width: 100%;
    height: 100%;
    background-color: aliceblue;
}

.bg_macbook {
    position: relative;
    background: transparent url("https://i.ibb.co/PYr4rTt/ipd1.png") no-repeat center center;
    width: 100%;
    height: 100%;

}
.wrap {
    position: absolute;
    top: 14.3%;
    left: 36.5%;
    width: 32.25rem;
    height: 42.5rem;
    border: 1px saddlebrown solid;
}
@media all and (max-width:1680px) {
    .wrap {
        top: 6.3%;
        left: 34%;
    }
    
}
@media all and (max-width:1580px) {
    .wrap {
        left: 33%;
    }
    
}
@media all and (max-width:1480px) {
    .wrap {
        left: 32.3%;
    }
    
}
@media all and (max-width:1380px) {
    .wrap {
        left: 31%;
    }
    
}
@media all and (max-width:1280px) {
    .wrap {
        left: 29%;
    }
    
}
@media all and (max-width:1180px) {
    .wrap {
        left: 28%;
    }
    
}
@media all and (max-width:1080px) {
    .wrap {
        left: 25.5%;
    }
    
}
@media all and (max-width:980px) {
    .wrap {
        left: 24%;
    }
    
}
@media all and (max-width:980px) {
    .wrap {
        left: 22.4%;
    }
    
}
@media all and (max-width:880px) {
    .wrap {
        left: 20.4%;
    }
    
}
@media all and (max-width:780px) {
    .wrap {
        left: 14.5%;
    }
    
}
@media all and (max-width:680px) {
    .bg_macbook {
    background: none;
    border: 1px solid saddlebrown;
    width: 98%;
    }
    
}